body{
    font-family:Impact, fantasy;
}

h1{
    font-weight: bold;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
}

.countries{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.country{
    width: 33%;
    margin-top: 20px;
    margin-left: 3px;
}

.flag{
    width: 70%;
    height: 13em;
}

.names{
    align-self: center;
    justify-self: center;
    font-size: 15px;
}

.moreText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.remove{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 50%;
    border: solid 2px white;
    border-radius: 2px;
    background-color:white;
    width: 3%;
    height: 4%;
}

.remove:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn{
    border: solid 1.5px lightblue;
    border-radius: 2px;
    background-color:white;
    padding-bottom: 2px;
    font-weight: bold;
    border-radius: 3px;
    height: 35px;
    width: 70%;
}

.btn:hover{
    background-color:lightblue;
    color: white;
    cursor: pointer;  
}

.search{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.searchBox{
    width: 20%;
    height: 20%;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    border: solid 1.5px lightblue;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="country"] {
      width: 100%;
      margin-left: 5px;
    }
    [class*="flag"] {
        width: 90%;
        height: 20em;
      }
    [class*="btn"] {
        width: 90%;
      }
    [class*="searchBox"] {
        width: 40%;
      } 
    [class*="remove"] {
        width: 5%;
      } 
  }